flows_Mini_Projet_AVANT.json.json
[
    {
        "id": "c4c9e94acbfb3db9",
        "type": "tab",
        "label": "Mini_Projet_AVANT",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "inject1",
        "type": "inject",
        "z": "c4c9e94acbfb3db9",
        "name": "Tick (1s)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 760,
        "y": 520,
        "wires": [
            [
                "simulator"
            ]
        ]
    },
    {
        "id": "simulator",
        "type": "function",
        "z": "c4c9e94acbfb3db9",
        "name": "Simulation GPU / Temp / Fan",
        "func": "// état précédent\ncontext.temp = context.temp || 45;\ncontext.fan = context.fan || 1200;\ncontext.gpu = context.gpu || 60;\n\n// 1. GPU load (variation douce)\nlet variation = Math.random() * 10 - 5;\nlet gpu = context.gpu + variation;\ngpu = Math.max(30, Math.min(95, gpu));\n\n// 2. Température dépend du GPU (inertie thermique)\nlet temp = context.temp + (gpu - 50) * 0.03;\n\n// 3. Ventilateur dépend de la température\nlet fan = context.fan;\nif (temp > 75) {\n    fan += 200;\n} else if (temp < 65) {\n    fan -= 150;\n}\n\n// limites\nfan = Math.max(800, Math.min(4000, fan));\n\n// sauvegarde\ncontext.temp = temp;\ncontext.fan = fan;\ncontext.gpu = gpu;\n\nmsg.payload = {\n    gpu: Math.round(gpu),\n    temperature: Math.round(temp),\n    fan: Math.round(fan),\n    time: new Date().toLocaleTimeString()\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 520,
        "wires": [
            [
                "split"
            ]
        ]
    },
    {
        "id": "split",
        "type": "function",
        "z": "c4c9e94acbfb3db9",
        "name": "Split metrics",
        "func": "return [\n    { payload: msg.payload.gpu, topic: \"GPU\" },\n    { payload: msg.payload.temperature, topic: \"Temp\" },\n    { payload: msg.payload.fan, topic: \"Fan\" }\n];",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 520,
        "wires": [
            [
                "gauge_gpu",
                "chart_gpu"
            ],
            [
                "gauge_temp",
                "chart_temp",
                "alert_temp"
            ],
            [
                "gauge_fan",
                "chart_fan"
            ]
        ]
    },
    {
        "id": "gauge_gpu",
        "type": "ui_gauge",
        "z": "c4c9e94acbfb3db9",
        "name": "GPU Load",
        "group": "grp1",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "GPU (%)",
        "label": "",
        "format": "",
        "min": 0,
        "max": 100,
        "colors": [
            "#10b981",
            "#f59e0b",
            "#ef4444"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1490,
        "y": 420,
        "wires": []
    },
    {
        "id": "gauge_temp",
        "type": "ui_gauge",
        "z": "c4c9e94acbfb3db9",
        "name": "Temperature",
        "group": "grp1",
        "order": 2,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Temp (°C)",
        "label": "",
        "format": "",
        "min": 20,
        "max": 100,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "60",
        "seg2": "75",
        "diff": false,
        "className": "",
        "x": 1510,
        "y": 520,
        "wires": []
    },
    {
        "id": "gauge_fan",
        "type": "ui_gauge",
        "z": "c4c9e94acbfb3db9",
        "name": "Fan Speed",
        "group": "grp1",
        "order": 3,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Fan (RPM)",
        "label": "",
        "format": "",
        "min": 0,
        "max": 4000,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "2000",
        "seg2": "3000",
        "diff": false,
        "className": "",
        "x": 1510,
        "y": 580,
        "wires": []
    },
    {
        "id": "chart_gpu",
        "type": "ui_chart",
        "z": "c4c9e94acbfb3db9",
        "name": "GPU Chart",
        "group": "grp2",
        "order": 1,
        "width": 6,
        "height": 4,
        "label": "GPU Load",
        "chartType": "line",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "100",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1710,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "chart_temp",
        "type": "ui_chart",
        "z": "c4c9e94acbfb3db9",
        "name": "Temp Chart",
        "group": "grp2",
        "order": 2,
        "width": 6,
        "height": 4,
        "label": "Temperature",
        "chartType": "line",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "100",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1710,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "chart_fan",
        "type": "ui_chart",
        "z": "c4c9e94acbfb3db9",
        "name": "Fan Chart",
        "group": "grp2",
        "order": 3,
        "width": 6,
        "height": 4,
        "label": "Fan Speed",
        "chartType": "line",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "100",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1710,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "alert_temp",
        "type": "switch",
        "z": "c4c9e94acbfb3db9",
        "name": "Temp Alert",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "60",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1510,
        "y": 640,
        "wires": [
            [
                "debug_alert",
                "ddb60275d390987f"
            ]
        ]
    },
    {
        "id": "debug_alert",
        "type": "debug",
        "z": "c4c9e94acbfb3db9",
        "name": "ALERT HIGH TEMP",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1700,
        "y": 640,
        "wires": []
    },
    {
        "id": "ddb60275d390987f",
        "type": "ui_toast",
        "z": "c4c9e94acbfb3db9",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "msg.payload",
        "topic": "",
        "name": "TEMP ALERTE",
        "x": 1680,
        "y": 700,
        "wires": []
    },
    {
        "id": "grp1",
        "type": "ui_group",
        "name": "Live Metrics",
        "tab": "tab1",
        "order": 1,
        "width": 6
    },
    {
        "id": "grp2",
        "type": "ui_group",
        "name": "Charts",
        "tab": "tab1",
        "order": 2,
        "width": 6
    },
    {
        "id": "tab1",
        "type": "ui_tab",
        "name": "Data Center Monitor",
        "icon": "dashboard"
    },
    {
        "id": "efa73ca350f24ed0",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]