flows_Régression_Multiple_UI.json
[
    {
        "id": "95e8e68d05a6816b",
        "type": "tab",
        "label": "Régression Multiple UI",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e0d9625a4556407a",
        "type": "inject",
        "z": "95e8e68d05a6816b",
        "name": "1. Entraîner le modèle",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.5,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 100,
        "wires": [
            [
                "1f5f7e029d0f20ed"
            ]
        ]
    },
    {
        "id": "1f5f7e029d0f20ed",
        "type": "function",
        "z": "95e8e68d05a6816b",
        "name": "Entraînement",
        "func": "const X = [\n    [50,  1, 10],\n    [80,  2, 5 ],\n    [120, 3, 2 ],\n    [60,  1, 20],\n    [100, 4, 8 ],\n    [90,  2, 15],\n    [70,  3, 3 ]\n];\nconst Y = [\n    [150],\n    [220],\n    [350],\n    [160],\n    [300],\n    [250],\n    [210]\n];\nconst MLR = global.get('mlr');\nconst model = new MLR(X, Y);\nglobal.set('model', model);\nmsg.payload = 'Modèle entraîné ✅';\nreturn msg;",
        "outputs": 1,
        "x": 460,
        "y": 100,
        "wires": [
            [
                "adcdafd88be22d02"
            ]
        ]
    },
    {
        "id": "adcdafd88be22d02",
        "type": "debug",
        "z": "95e8e68d05a6816b",
        "name": "Train OK",
        "active": true,
        "tosidebar": true,
        "complete": "payload",
        "x": 670,
        "y": 100,
        "wires": []
    },
    {
        "id": "2044015ddc6ff7a9",
        "type": "ui_numeric",
        "z": "95e8e68d05a6816b",
        "name": "Superficie",
        "label": "Superficie (m²)",
        "tooltip": "",
        "group": "group_mlr",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "superficie",
        "topicType": "str",
        "format": "{{value}}",
        "min": 10,
        "max": 500,
        "step": 1,
        "className": "",
        "x": 160,
        "y": 260,
        "wires": [
            [
                "a222d508023970f3"
            ]
        ]
    },
    {
        "id": "b628d8c8e8e4af68",
        "type": "ui_numeric",
        "z": "95e8e68d05a6816b",
        "name": "Étage",
        "label": "Étage",
        "tooltip": "",
        "group": "group_mlr",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "etage",
        "topicType": "str",
        "format": "{{value}}",
        "min": 0,
        "max": 20,
        "step": 1,
        "className": "",
        "x": 160,
        "y": 320,
        "wires": [
            [
                "a222d508023970f3"
            ]
        ]
    },
    {
        "id": "6e6eec945baf2512",
        "type": "ui_numeric",
        "z": "95e8e68d05a6816b",
        "name": "Âge",
        "label": "Âge du bien (ans)",
        "tooltip": "",
        "group": "group_mlr",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "age",
        "topicType": "str",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "step": 1,
        "className": "",
        "x": 160,
        "y": 380,
        "wires": [
            [
                "a222d508023970f3"
            ]
        ]
    },
    {
        "id": "a222d508023970f3",
        "type": "function",
        "z": "95e8e68d05a6816b",
        "name": "Stocker valeurs",
        "func": "// On mémorise chaque valeur selon son topic\nflow.set(msg.topic, msg.payload);\n\nconst superficie = flow.get('superficie') || 0;\nconst etage      = flow.get('etage')      || 0;\nconst age        = flow.get('age')        || 0;\n\nmsg.payload = { superficie, etage, age };\nreturn msg;",
        "outputs": 1,
        "x": 380,
        "y": 320,
        "wires": [
            [
                "aca75f41274ea03e"
            ]
        ]
    },
    {
        "id": "b5717256fd8b7271",
        "type": "ui_button",
        "z": "95e8e68d05a6816b",
        "name": "Prédire",
        "group": "group_mlr",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Prédire le prix",
        "tooltip": "",
        "color": "",
        "bgcolor": "#007bff",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "predict",
        "topicType": "str",
        "x": 180,
        "y": 460,
        "wires": [
            [
                "106e9a82b987a12a"
            ]
        ]
    },
    {
        "id": "106e9a82b987a12a",
        "type": "function",
        "z": "95e8e68d05a6816b",
        "name": "Récupérer et prédire",
        "func": "const model = global.get('model');\nif (!model) {\n    msg.payload = 'Erreur : modèle non entraîné !';\n    return msg;\n}\n\nconst superficie = flow.get('superficie') || 0;\nconst etage      = flow.get('etage')      || 0;\nconst age        = flow.get('age')        || 0;\n\nconst result = model.predict([superficie, etage, age]);\nconst prix = Math.round(result[0]);\n\nmsg.payload = 'Prix prédit : ' + prix + ' k€';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 460,
        "wires": [
            [
                "8904f6add250c98b"
            ]
        ]
    },
    {
        "id": "aca75f41274ea03e",
        "type": "function",
        "z": "95e8e68d05a6816b",
        "name": "Prédiction auto",
        "func": "const model = global.get('model');\nif (!model) return null;\n\nconst { superficie, etage, age } = msg.payload;\nconst result = model.predict([superficie, etage, age]);\nconst prix = Math.round(result[0]);\n\nmsg.payload ='Prix prédit : ' + prix + ' k€';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 320,
        "wires": [
            [
                "8904f6add250c98b"
            ]
        ]
    },
    {
        "id": "8904f6add250c98b",
        "type": "ui_text",
        "z": "95e8e68d05a6816b",
        "group": "group_mlr",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Résultat",
        "label": "Résultat",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 780,
        "y": 380,
        "wires": []
    },
    {
        "id": "group_mlr",
        "type": "ui_group",
        "name": "Prédiction de Prix",
        "tab": "uitab_mlr",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "uitab_mlr",
        "type": "ui_tab",
        "name": "Régression Multiple",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1db3077dd32fe370",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]